## Environment variables for docker-compose

# gitlab-ce image version
VERSION=12.7.5-ce.0
HOSTNAME=localhost
# gitlab runner image version
RUNNER_VERSION=alpine
GITLAB_RUNNER_REPLICAS=4

SSH_PORT=2222
HTTP_PORT=80
HTTPS_PORT=443

ROOT_PASSWORD_FILE=./root_password.secret
# for bind mounts
GITLAB_DIR=./

# use this for volumes instead
# GITLAB_DIR=

# volume drivers
DATA_DRIVER=local
LOGS_DRIVER=local
CONFIG_DRIVER=local
